layout {
  border {
    off
  }
  focus-ring {
    width 2
    active-color "#4a90d9"
    inactive-color "#1a1a1a"
  }
  gaps 0
  background-color "#000000"
}

layer-rule {
  match namespace="^quickshell$"
  place-within-backdrop true
}

window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 0
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    geometry-corner-radius 0
    clip-to-geometry true
    draw-border-with-background false
}

window-rule {
    match is-active=false
    opacity 0.8
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
    shadow {
        off
    }
}

window-rule {
    match app-id=r#"org.quickshell$"#
    open-floating true
}
