include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"

spawn-at-startup "dms" "run"

spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"

environment {
  XDG_CURRENT_DESKTOP "niri"
  QT_QPA_PLATFORM "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_QPA_PLATFORMTHEME_QT6 "gtk3"
}

output "DP-3" {
  position x=0 y=0
  scale 1.0
}

output "HDMI-A-1" {
  position x=1920 y=0
  scale 1.0
}

output "HDMI-A-2" {
  position x=3840 y=0
  scale 1.0
}
